@model WebApplication4.Models.AdminPassword
@{
    ViewBag.Title = "Cards 101";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="header">
    <h1>Cards 101</h1>
</div>
<div id="side">
    @Html.ActionLink("Home", "Admin", "Admin")<br />
    @Html.ActionLink("Add stock", "AddStock", "Admin")<br />
    @Html.ActionLink("Check orders", "CheckOrders", "Admin") <br />
    Change password
</div>
<div id="main">
    @using (Html.BeginForm("ChangeAdminPassword", "Admin", FormMethod.Post))
    {
        <fieldset>
            <b>Old Password</b> @Html.Password("OldPassword")<br />
            <b>New Password</b> @Html.Password("NewPassword")<br />
            <b>Confirm New Password</b> @Html.Password("ConfirmNewPassword")<br />
            <input type="submit" value="Submit" />
        </fieldset>
    }
    @{ Html.EndForm();}
    @Html.Encode(ViewData["Message"])
</div>
